<div class="container">
<% jobs.each do |job| %>
    <div class="job-box">
      <h2 class="job-name"><%= link_to job.name, job_path(job.id) %></h2>

      <p class="job-description"><%= job.description.html_safe %></p>
      <%= react_component('CommentBox', collection: job.comments, jobId: job.id, prerender: true) %>
    </div>
<% end %>
</div>
