<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">CareerPlug</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if current_user %>
        <%= render 'shared/signed_in_nav' %>
      <% else %>
        <%= render 'shared/signed_out_nav' %>
      <% end %>
      </div>
    </div>
  </div>
</nav>
